@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*#302E2B*/

body{
    color: #47232c;
    height: 900vh; 
    background-image: url('../imagens/xadrez-bg.jpg');
      
      /* Define o modo de exibição da imagem de fundo */
      background-size: cover; /* Cobrir toda a área disponível */
      background-position: center; /* Centralizar */
      background-repeat: no-repeat; /* Evitar repetição da imagem */
      background-attachment: fixed;

}

header{
    padding: 8px;
}

nav.menu-lateral{
    position: absolute;
    width: 50px;
    height: 10px;
    padding: 15px 0px 40px 1% ;

    position: fixed;
    top: 0;
    left: 0;
    transition: .2;
    overflow: hidden;
}

nav.menu-lateral.expandir{
    width: 35vw;
    background-color: #47232cb4;
    height: 100%;
    transition: .2s;
}

.btn-expandir{
    height: 50px;
    padding-left: 10px;
}

.btn-expandir-color{
    color: #66997b;
}

.btn-expandir > i{
    font-size: 23px;
    color: #47232c;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

li:hover{
    background-color: #66997b;
}

li{
    transition: .1s;
}

li.ativo{
    background-color: rosybrown;
}

.menu-item > a{
    color: #66997b;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 4%;
    display: flex;
}

.menu-item > a:hover{
    color: #27081d;
}

.txt-link{
    margin-left: 15px;
}

.foto-de-perfil{
    position: fixed;
    display: inline;
    right: 15px;
    margin-top: .5%;
}

.foto-de-perfil > i{
    font-size: 26px;
}

.caixa-de-alinhamento{
    text-align: center;
}

.position > p{
    font-size: 20px;
}

.name > p{
    font-size: 25px;
}

footer{
    margin: 10px;
}

table{
    border-collapse: collapse;
    width: 85%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    border-radius: 10px;
}

table, th, td{
    border: solid black 1px;
    border-collapse: collapse;
    padding: 5px;
    background-color: #27081da5;
    color: #66997beb;

}