@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    color: #86c19e;
}

/*
body = #302E2B
caixa-login = #262421
*/

body{
    /*background-color: #a4ca8bd0; cor antiga...*/
    background-image: url('../imagens/pexels-deva-darshan-2695392.jpg');
      
      /* Define o modo de exibição da imagem de fundo */
      background-size: cover; /* Cobrir toda a área disponível */
      background-position: center; /* Centralizar */
      background-repeat: no-repeat; /* Evitar repetição da imagem */
      height: 100vh;
}

header{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.caixa-login{
    width: 300px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.702);
    margin: auto;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    position: sticky;
    box-shadow: 2px 2px 3px black;
}

.placeholder{
    border: none;
    border-radius: 8px;
    padding: 7px;
    margin-bottom: 15px;
    background-color: #3c3a38b0;
    color: white; 
}

p{
    font-size: 14px;
}

#turma{
    display: block;
    margin-top: 6px;
}

#btn-entrar{
    display: block;
    padding: 5px;
    margin-top: 5%;
    width: 100%;
    height: 40px;
    background-color:#66997b ;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 10px;
    border:none;
    box-shadow: 0px 5px #66997bbd;
    color: white;
}

.btn-p{
    text-decoration: none;
    color: #66997b;
    display: flex;
    position: absolute;
    bottom: 6%;
}